@model List<SalesforceIntegrationApp.Models.Campaign>
@if(Model!=null && Model.Any())
{
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Campaign Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var campaign in Model)
            {
                <tr>
                    <td>@campaign.Id</td>
                    <td>@campaign.Name</td>
                    <td>@campaign.Type</td>
                    <td>@campaign.Status</td>
                    <td>@campaign.StartDate</td>
                    <td>@campaign.EndDate</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p class="text-warning">No Campaign records found.</p>
}