@model List<SalesforceIntegrationApp.Models.Lead>
@if (Model!=null && Model.Any())
{
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Title</th>
                <th>Status</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lead in Model)
            {
                <tr>
                    <td>@lead.FirstName @lead.LastName</td>
                    <td>@lead.Email</td>
                    <td>@lead.Company</td>
                    <td>@lead.Title</td>
                    <td>@lead.Status</td>
                    <td>@lead.Phone</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-warning">No lead records found.</p>
}

