@{
    ViewData["Title"] = "Lead & Contact Fields";
    var leads = ViewBag.Leads as List<dynamic>;
    var contacts = ViewBag.Contacts as List<dynamic>;
}

<h2>Contact Records</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @if (contacts != null)
        {
            foreach (var c in contacts)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.Email</td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Lead Records</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        @if (leads != null)
        {
            foreach (var l in leads)
            {
                <tr>
                    <td>@l.Id</td>
                    <td>@l.FirstName</td>
                    <td>@l.LastName</td>
                    <td>@l.Company</td>
                </tr>
            }
        }
    </tbody>
</table>
